.card-breadcrumbs{
    padding: 20px 0 20px 0;
    text-align: center;
    span{
        background: url('../img/breadcrumbs-arrow.svg') no-repeat 0 7px;
        color: #9b9b9b;
        font-size: 110%;
        padding: 0 25px 0 27px;
        &:first-child{
            background: none;
            color: #000;
        }
    }
    span.active{
        font-weight: 600;
    }
}

@media(max-width: 760px){
    .card-breadcrumbs{
        span{
            background: url(../img/breadcrumbs-arrow.svg) no-repeat 0 5px;
            display: inline-block;
            font-size: 90%;
        }
    }
}

@media(max-width: 620px){
    .card-breadcrumbs{
        span{
            background: url(../img/breadcrumbs-arrow.svg) no-repeat 0 4px;
            font-size: 85%;
            padding: 0 17px 0 25px;
        }
    }
}