.card{
    margin: 0 auto;
    max-width: 912px;
    &__item{
        border-bottom: 2px solid #eff2f4;
        padding: 11px 0 11px 0;
        position: relative;
        &:last-child{
            border-bottom: none;
        }
    }
    &__img{
        background-position: 50% 50%;
        background-size: cover;
        display: block;
        float: left;
        height: 98px;
        width: 11%;
    }
    &__price-mobile{
        display: none;
    }
    &__info{
        float: left;
        margin: 0 0 0 2.8%;
        width: 49%;
    }
    &__name{
        margin: 5px 0 0 0;
    }
    &__article{
        margin: 11px 0 0 0;
    }
    &__info-price{
        font-size: 115%;
        margin: 6px 0 0 0;
    }
    &__discount-price-mobile{        
        bottom: 41px;
        display: none;
        font-size: 115%;        
        position: absolute;
        &:after{
            background: #000;
            content: '';
            height: 1px;
            left: -1px;
            position: absolute;
            top: 14px;
            width: 112%;
        }
    }
    &__plus-minus-container{
        float: left;
        margin: 38px 0 0 0;
        position: relative;
        width: 9.6%;
    }
    &__plus{
        border: 2px solid #fff;
        border-radius: 20px;
        cursor: pointer;
        float: right;
        height: 20px;
        position:relative;
        transition: 0.3s;
        width: 20px;
        &:hover{
            border: 2px solid #ff5020;
            background: #ff5020;
        }
        &:hover:after{
            background: #fff;
        }
        &:hover:before{
            background: #fff;
        }
        &:after{
            background: #9b9b9b;
            content: '';
            height: 2px;
            left: 3px;
            position: absolute;
            top: 9px;
            transition: 0.3s;
            width: 14px;
        }
        &:before{
            background: #9b9b9b;
            content: '';
            height: 14px;
            left: 9px;
            position: absolute;
            top: 3px;            
            transition: 0.3s;
            width: 2px;
        }
    }
    &__minus{        
        border: 2px solid #fff;
        border-radius: 20px;
        cursor: pointer;
        float: left;
        height: 20px;
        position: relative;
        transition: 0.3s;
        width: 20px;
        &:hover{
            border: 2px solid #ff5020;
            background: #ff5020;
        }
        &:hover:after{
            background: #fff;
        }
        &:after{
            background: #9b9b9b;
            content: '';
            height: 2px;
            left: 3px;
            position: absolute;
            top: 9px;
            width: 14px;
        }
    }
    &__number{
        float: left;
        font-size: 110%;        
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: -1;
    }
    &__price{
        float: left;
        font-size: 110%;        
        margin: 38px 0 0;
        text-align: center;
        width: 19.1%;
    }
    &__close{
        cursor: pointer;
        float: left;
        height: 17px;
        margin: 34px 0 0 0;        
        padding: 7px;
        width: 16px;
        img{
            position: absolute;
            transition: 0.3s;
            width: 16px;
        }
        &:hover .normal{
            opacity: 0;
        }
        &:hover .hover{
            opacity: 1;
        }
        .normal{
            opacity: 1;
        }
        .hover{
            opacity: 0;
        }  
    }
    &__like{   
        cursor: pointer;
        float: right;
        height: 19px;
        margin: 34px 0 0;
        padding: 7px;
        position: relative;
        width: 19px;
        &:hover .normal{
            opacity: 0;
        }
        &:hover .hover{
            opacity: 1;
        }
        img{
            position: absolute;
            transition: 0.3s;
            width: 19px;
        }
        .normal{
            opacity: 1;
        }
        .hover{
            opacity: 0;
        }        
    }
}

.crossed-price{
    margin: 0 15.5% 0 0;
    position: relative;
    width: 30%;
    &:after{
        background: #000;
        content: '';
        height: 1px;
        left: -1px;
        position: absolute;
        top: 14px;
        width: 112%;
    }
}

.discount-price{
    margin: 0 15.5% 0 0;
    width: 30%;
}

.discount{
    background: #f6a623;
    color: #fff;
    display: inline-block;
    line-height: 22px;
    padding: 2px 6px 0;
}

.card__close .mobile{
    color: #9b9b9b;
    display: none;    
    text-decoration: none;
    &:hover{
        color: #ff5020;
    }
}

@media(max-width:990px){
    .card{
        width: 90%;
        &__info{
            width: 60%;
        }
        &__price{
            bottom: 13px;
            margin: 0;
            position: absolute;
            right: 0;
            width: 12%;
        }
        &__like{
            margin: 0;
            position: absolute;
            right: 5px;
            top: 13px;
            width: 18px;
            img{
                width: 18px;
            }
        }
        &__close{
            margin: 0;
            position: absolute;
            right: 56px;
            top: 14px;
            width: 15px;
            img{
                width: 15px;
            }
        }
        &__img{
            width: 15.4%;
        }
        &__plus-minus-container{
            bottom: 14px;
            margin: 0;
            position: absolute;
            right: 20%;
            width: 13%;
        }
        &__minus{
            border: 2px solid #979797;
        }
        &__plus{
            border: 2px solid #979797;
        }
    }
}

@media(max-width: 670px){
    .card{
        &__name{
            font-size: 90%;
            position: absolute;
            right: 0;
            text-align: right;
            width: 65%;
        }
        &__price{
            width: auto;
        }
        &__plus-minus-container{
            left: 50%;
            margin-left: -47px;
            width: 94px;
        }
        &__article{
            display: none;
        }
        &__item{
            border-bottom: 1px solid #eff2f4;
            padding: 11px 0 75px 0;
        }
        &__info-price{
            display: none;
        }
        &__price-mobile{
            bottom: 13px;
            display: block;
            font-size: 115%;
            left: 0;
            position: absolute;
        }
        &__like{
            display: none;
        }
        &__close{
            bottom: 60px;
            font-size: 90%;
            padding: 7px 0 7px 7px;
            position: absolute;
            right: 0;
            top: auto;
            width: auto;
            img{
                display: none;
            }
            .mobile{
                display: block;
            }
        }
        &__discount-price-mobile{ 
            display: table;
        }
    }
}

@media(max-width: 620px){
    .card{
        width: 100%;
        &__price-mobile{
            left: 3%;
        }
        &__discount-price-mobile{
            left: 3%;
        }
        &__name{
            right: 3%;
        }
        &__price{
            right: 3%;
        }
        &__close{
            right: 3%;
        }
        &__img{
            min-width: 100px;
        }
    }
}