doctype html
html
    head
        title Masura | Корзина
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        script(src="https://use.typekit.net/lqw4fmh.js")
    body
        //img(src="assets/img/template.png" style="position: absolute; opacity: 0.5; left: 26px;")
        include includes/header
        include includes/card-breadcrumbs
        include includes/card-free-delivery
        include includes/card
        include includes/card-promocode
        include includes/card-price
        include includes/card-buttons
        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        //script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")