div.card-promocode
    div.card-promocode__text-container
        div.card-promocode__header ПРОМО КОД
        div.card-promocode__text Если у вас есть промо код / код скидки, пожалуйста, введите его здесь
    div.card-promocode__input-container
        input
    div.clear