div.card
    div.card__item
        div.card__img(style="background-image: url('assets/img/card-item-1.png');")
        div.card__info
            div.card__name Лак для ногтей Печенье С Предсказанием, 11 мл
            div.card__article Артикул: 1104
            div.card__info-price 299 ₽
        div.card__price-mobile 299 ₽
        div.card__plus-minus-container
            div.card__minus
            div.card__number 2
            div.card__plus
            div.clear
        div.card__price 598 ₽
        div.card__close
            a.mobile(href="#") Удалить
            img.normal(src="assets/img/close-normal.svg" alt="закрыть")
            img.hover(src="assets/img/close-hover.svg" alt="закрыть")
        div.card__like
            img.normal(src="assets/img/like-normal.svg" alt="лайк")
            img.hover(src="assets/img/like-hover.svg" alt="лайк")
        div.clear

    div.card__item
        div.card__img(style="background-image: url('assets/img/card-item-2.png');")
        div.card__info
            div.card__name Лак для ногтей Хрустальные Незабудки, 11мл
            div.card__article Артикул: 1100
            div.card__info-price 299 ₽
        div.card__price-mobile 299 ₽
        div.card__plus-minus-container
            div.card__minus
            div.card__number 1
            div.card__plus
            div.clear
        div.card__price 299 ₽
        div.card__close
            a.mobile(href="#") Удалить
            img.normal(src="assets/img/close-normal.svg" alt="закрыть")
            img.hover(src="assets/img/close-hover.svg" alt="закрыть")
        div.card__like
            img.normal(src="assets/img/like-normal.svg" alt="лайк")
            img.hover(src="assets/img/like-hover.svg" alt="лайк")
        div.clear
    
    div.card__item
        div.card__img(style="background-image: url('assets/img/card-item-3.png');")
        div.card__info
            div.card__name Гель-лак BASIC Французский Бархат, 6,5 мл
            div.card__article Артикул: 294-107
            div.card__info-price 
                span.crossed-price 199 ₽
                span.discount-price 139 ₽
                span.discount −30%
        div.card__price-mobile 139 ₽
        div.card__discount-price-mobile 199 ₽
        div.card__plus-minus-container
            div.card__minus
            div.card__number 1
            div.card__plus
            div.clear
        div.card__price 139 ₽
        div.card__close
            a.mobile(href="#") Удалить
            img.normal(src="assets/img/close-normal.svg" alt="закрыть")
            img.hover(src="assets/img/close-hover.svg" alt="закрыть")
        div.card__like
            img.normal(src="assets/img/like-normal.svg" alt="лайк")
            img.hover(src="assets/img/like-hover.svg" alt="лайк")
        div.clear