footer
    span.copyright 
        | © 2003...2017 Интернет-магазин 
        span MASURA
    a.phone(href="tel:+78005054105") 8 800 505-41-05
    a.email(href="mailto:sales@masura.ru") sales@masura.ru
    div.clear